[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
pyyaml = ">=5.1.2"
docker-compose = "*"
sanic = "*"
aiorequests = "*"

[dev-packages]
flake8 = "*"
isort = "*"
ipdb = "*"
asynctest = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
